@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

$body-bg: #fafafa;
$theme-colors: ("primary": #5a8aff,
    "secondary": #715aff,
    "warning": #ed6a5a,
    "dark": #333333,
);
$navbar-inverse-color: #fefefe;
$navbar-color: #fefefe;
$navbar-default-color: #fefefe;
$navbar-default-link-color: #fefefe;
$list-group-link-color: #fefefe;
$jumbotron-bg: #333333;
$jumbotron-color: #fefefe;
$navbar-margin-bottom: 15px;

.info-box {
    padding: 1rem;
    background-color: #e6ebe0;
    border-radius: 10px;
}

.btn {
    margin-left: .5em;
    margin-right: .5em;
}

@import "~bootstrap/scss/bootstrap.scss";